*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height:100%;
    width:100%;
}
body{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 300px;
    width: 250px;
    border-radius:10px;
position: relative;
overflow: hidden;
    /* background-color: red; */

     
}
.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.container i{
    color:white;
    font-size: 55px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: all ease 3s;
}
